[submodule "markerlessBoMI_FaMa"]
	path = markerlessBoMI_FaMa
	url = https://github.com/hypothe/markerlessBoMI_FaMa.git
	branch = server-test
[submodule "bomi_fama_nodejs"]
	path = bomi_fama_nodejs
	url = https://github.com/hypothe/bomi_fama_nodejs.git
	branch = main
[submodule "unity-docker-example"]
	path = unity-docker-example
	url = git@github.com:hypothe/unity-docker-example.git
	branch = socket.io-test
